html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #666;
  background-color: #f1f8e9;
}

.container {
  margin: 0 auto;
  max-width: 37.5rem;
}

header {
  height: 6rem;
  border-bottom: 1px solid #7cb342;
  color: #f1f8e9;
  background-color: #8bc34a;
  font-weight: 100;
}

.logo {
  position: relative;
  float: left;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  font-size: 4rem;
}

.app-title {
  margin: 0;
  padding: 0 1rem;
  line-height: 6rem;
  font-size: 2rem;
}

.task-list {
  margin: 1rem 0;
}

.task {
  height: 6rem;
  line-height: 6rem;
  clear: both;
}

.task-tick {
  position: relative;
  float: left;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 6rem;
  border-radius: 50%;
  cursor: pointer;

  /* Not accomplished by default */
  background-color: #f36c60;
}

.task-tick:before {
  margin: 0 1.25rem;
  line-height: 4rem;
  font-size: 1.5rem;

  /* Not accomplished by default */
  color: #fff;
}

.task-tick:after {
  position: absolute;
  left: 50%;
  bottom: -1.8rem;
  width: 0;
  height: 1.4rem;
  border-left: 1px dotted #dadada;
  content: '';
}


.task-done .task-tick {
  border: none;
  background-color: #8bc34a;
}

.task-done .task-tick:before {
  color: #f1f8e9;
}

.task:last-child .task-tick:after {
  display: none;
}

.task-body {
  width: 84%;
  /*width: 31.5rem;*/
  float: left;
  border-bottom: 1px dotted #dadada;

  transition: height 1s;
}

.task:last-child .task-body {
  border-bottom: none;
}

.task-title {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
}

.task .task-image {
  height: 0;
  margin: 0;
}

.task-unwrap .task-tick:after {
  height: 24.4rem;
  bottom: -24.8rem;
}
.task-unwrap .task-image {
  height: 20rem;
  margin-bottom: 3rem;
}

.task-image {
  /*width: 31.5rem;*/
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
